div#disqus_thread:empty:before {
     border-style: none;
     content: none;
    transition: content 5s ease, border-style 3s ease;
    -moz-transition: content 5s ease, border-style 3s ease; /* Firefox 4 */
    -webkit-transition: content 5s ease, border-style 3s ease; /* Safari and Chrome */
    -o-transition: content 5s ease, border-style 3s ease; /* Opera */
}

div#disqus_thread:empty:before, .disqus-disabledMessage {
    display: block;
    border: #d2691e 1px solid;
    padding: 10px;
}