﻿<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" 
        productName="Disqus Comments for EPiServer CMS" 
        description="Disqus integration for EPiServer-based websites. This core module enables adding Disqus comments on CMS pages using content properties, blocks, dynamic content and by placing discussions in rendering areas. User interface to configure Disqus comments can be added on website by installing Duk.EPiServer.Disqus.UI module." 
        tags="EPiServerPublicModulePackage" >
  <assemblies>
    <add assembly="Duk.EPiServer.Disqus" />
  </assemblies>

  <routes>
    <route>
      <defaults>
        <add key="moduleArea" value="Duk.EPiServer.Disqus" />
      </defaults>
    </route>
  </routes>
  
</module>