<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" 
        productName="Disqus Comments for EPiServer CMS" >
  <assemblies>
    <add assembly="Duk.EPiServer.Disqus" />
  </assemblies>

  <routes>
    <route>
      <defaults>
        <add key="moduleArea" value="Duk.EPiServer.Disqus" />
      </defaults>
    </route>
  </routes>
  
</module>