<div class="epi-containerLayout clearfix">
    <ul>
        <li class="epi-formsRow">
            <label>${!i18n.manageTitle}</label>
            <ul class="duk-disqus-adminLinksList">
                <li><span><a href="#" class="epi-visibleLink" target="DisqusAdmin" data-dojo-attach-point="_moderateLink">${!i18n.moderateCommentsTitle}</a></span></li>
                <li><span><a href="#" class="epi-visibleLink" target="DisqusAdmin" data-dojo-attach-point="_settingsLink">${!i18n.adminSettingsTitle}</a></span></li>
                <li><span><a href="#" class="epi-visibleLink" target="DisqusAdmin" data-dojo-attach-point="_analyticsLink">${!i18n.analyticsTitle}</a></span></li>
                <li><span><a href="#" class="epi-visibleLink" target="DisqusAdmin" data-dojo-attach-point="_discussionsLink">${!i18n.adminToolsTitle}</a></span></li>
            </ul>
        </li>
    </ul>
</div>
