<div class="epi-listingContainer dijitLayoutContainer duk-disqus-settingsSection">
    <h2 class="epi-ribbonHeader epi-ribbonHeaderSpecial" data-dojo-attach-point="_titleNode"></h2>
    <div class='duk-disqus-description' data-dojo-attach-point="_descriptionNode">
    </div>
    <div class="duk-disqus-messageList" data-dojo-attach-point="_messageList" data-dojo-type="duk-disqus.NotificationList"></div>
    <div class="duk-disqus-messageList epi-errorText" data-dojo-attach-point="_errorList" data-dojo-type="duk-disqus.NotificationList"></div>

    <div data-dojo-attach-point="_settingsContainer"></div>
    <div data-dojo-attach-point="_standbyIndicator" data-dojo-type="dojox.widget.Standby"></div>
</div>
