<?xml version="1.0" encoding="utf-8" ?>
<module loadLocalBin="false" 
        productName="Disqus Comments Settings"
        helpFile="http://dmytroduk.com" >
  <assemblies>
    <add assembly="Duk.EPiServer.Disqus.UI" />
  </assemblies>

  <routes>
    <route>
      <defaults>
        <add key="moduleArea" value="Duk.EPiServer.Disqus.UI" />
      </defaults>
    </route>
  </routes>

  <clientResources>
    <add name="duk-disqus.Settings" path="ClientResources/Settings.css" resourceType="Style"/>
    <add name="duk-disqus.EditMode" path="ClientResources/EditMode.css" resourceType="Style"/>
  </clientResources>

  <dojo>
    <paths>
      <add name="duk-disqus" path="ClientResources" />
    </paths>
  </dojo>

  <dojoModules>
    <add name="duk-disqus" path="ClientResources" />
  </dojoModules>

  <clientModule initializer="duk-disqus.DisqusInitializer">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
    <requiredResources>
      <add name="duk-disqus.Settings" />
    </requiredResources>
  </clientModule>

</module>